# Backend API Base URL
VITE_API_BASE_URL=/api/v1

# Tên Miền Server Backend
VITE_SERVER_BASE_URL=https://flexidoc.io.vn

# Google OAuth 2.0 Client ID
VITE_GOOGLE_CLIENT_ID=476774285406-mmbg808fkbbq1h3831e9io80qg6fsdkt.apps.googleusercontent.com
