# Backend API Base URL
VITE_API_BASE_URL=/api/v1

# Tên Miền Server Backend
VITE_SERVER_BASE_URL=https://flexidoc.io.vn

# Google OAuth 2.0 Client ID
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE

# Secret Key để mã hóa/giải mã payload API (Cần giống với JWT_SECRET ở backend)
VITE_JWT_SECRET=flexidwt_key_2021326_changezcz@_in_production
