# ==========================================
# CONFIGURATION FOR ROOT DOCKER COMPOSE
# Copy this file to .env and change values
# ==========================================

# MONGODB CONNECTION
MONGODB_URI=mongodb://webhopdong_mongodb:27017/flexidoc

# JWT SECRET FOR APP
JWT_SECRET=flexidwt_key_2021326_changezcz@_in_production

# ONLYOFFICE JWT SECRET
ONLYOFFICE_JWT_SECRET=flexidoc_onlyoffice_secret_2026

# OTHER CONFIGS
NODE_ENV=production
PORT=5000
SERVER_BASE_URL=https://flexidoc.io.vn
ONLYOFFICE_PUBLIC_URL=https://office.flexidoc.io.vn
CORS_ORIGIN="https://flexidoc.io.vn,http://flexidoc.io.vn,https://www.flexidoc.io.vn,http://www.flexidoc.io.vn,http://localhost:5000"
