PORT=5000
MONGODB_URI=mongodb://localhost:27017/flexidoc
JWT_SECRET=flexidwt_key_2021326_changezcz@_in_production
JWT_EXPIRES_IN=1d
CORS_ORIGIN="https://flexidoc.io.vn,http://flexidoc.io.vn,https://www.flexidoc.io.vn,http://www.flexidoc.io.vn,http://localhost:5000,http://localhost:5173"

# Server Public Base URL / Tên Miền / IP LAN
SERVER_BASE_URL=https://flexidoc.io.vn
SEPAY_WEBHOOK_PATH=/api/v1/payments/sepay-webhook
